<div class="content">
<div>
<h1 class="title">Person Found</h1>
<h2 class="suppliedName">{{name}}</h2>
<dl>
  <dt id="id">ID</dt>
  <dd>{{id}}</dd>
  <dt id="firstName">First Name</dt>
  <dd>{{firstName}}</dd>
  <dt id="lastName">Last Name</dt>
  <dd>{{lastName}}</dd>
  <dt id="address">Address</dt>
  <dd>{{address}}</dd>
  <dt id="zip">Zip Code</dt>
  <dd>{{zip}}</dd>
  <dt id="phone">Phone</dt>
  <dd>{{phone}}</dd>
  <dt id="ssn">Social Security Number</dt>
  <dd>{{ssn}}</dd>
</dl> 
</div>
</div>
